	<head>
		<title>FlyHappy</title>
	</head>
	<body class="home">
	<nav class="home">
		<%= link_to image_tag("logo_white2.png", alt: "logo", class: "logo"), 'static_pages#home' %>
		<ul class="home">
			<li class="home"><%= link_to 'About', '#', class: "home"%></li>
			<li class="home"><%= link_to 'Sign In', '#', class: "home"%></li>
		</ul>
	</nav>
	<div class="home">
		<h1 class="home">Welcome to FlyHappy!</h1>
		<p class="home">Input your packing list for upcoming travel. <br>Discover must-packs from others in your job field. <br>Never leave home worrying about your packing again! <br><br>Leave secure. Fly happy. </p>
		<%= link_to 'Sign Up Now!', '#', class: "sign_up"%>
	</div>
	</body>

