<div class="style">
	<h1 class="home">Welcome to FlyHappy!</h1>
	<p class="home">Input your packing list for upcoming travel. <br>Discover must-packs from others in your job field. <br>Never leave home worrying about your packing again! <br><br>Leave secure. Fly happy. </p>
	
	<!-- Button trigger Modal -->

	<button class="pure-button pure-button-primary" data-toggle="modal" data-target="#myModal">
			Sign Up Now!
	</button>
	<!-- Modal -->
	<!-- 
	* Bootstrap v3.1.0.1
	*
	* Copyright 2012 Twitter, Inc.
	* Licensed under the Apache License v2.0 
	* http://www.apache.org/licenses/LICENSE-2.0
	*
	-->
</div>

<%= render 'shared/signup_form' %>