	<head>
		<title>FlyHappy</title>
	</head>
	<body>
	<nav>
		<%= link_to image_tag("logo.png", alt: "logo", class: "logo"), 'static_pages#home' %>
		<ul class="home">
			<li><%= link_to '#'%></li>
			<li><%= link_to '#'%></li>
			<li><%= link_to '#'%></li>
		</ul>
	</nav>
	<div>
		<h1>Welcome to FlyHappy!</h1>
		<p>Input your packing list for upcoming travel. Discover must-packs from others in your job field.</p>
	</div>
	</body>

