<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">

	<%= render 'header' %>
	<div class="home">
		<h1 class="home">Welcome to FlyHappy!</h1>
		<p class="home">Input your packing list for upcoming travel. <br>Discover must-packs from others in your job field. <br>Never leave home worrying about your packing again! <br><br>Leave secure. Fly happy. </p>
		<button class="pure-button pure-button-primary">
			<%= link_to 'Sign Up Now!', signup_path, class: "sign_up"%>
		</button>
	</div>
	</body>

