@import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* forms */

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}


/* Modal */

.modal-title {
	text-align: center;
  font-family: "Georgia", "Times New Roman", serif;

}

fieldset {
  border-style: none !important;
}

input[type="text"], input[type="password"] {
  margin: 10px;
  font-family: "Droid Sans", "Arial", sans-serif;
  padding: 5px;
  font-size: 1em !important;
}

.submit-button {
  text-align: right;
}

.modal-footer {
  margin: 0px;
}


