<head>
	<title>FlyHappy</title>
</head>
<body class="home">
<nav class="home">
	<%= link_to image_tag("logo_white2.png", alt: "logo", class: "logo"), root_path %>
	<ul class="home">
		<li class="home"><%= link_to 'About', about_path, class: "home"%></li>
		<li class="home"><%= link_to 'Sign In', signin_path, class: "home"%></li>
	</ul>
</nav>